{% extends 'base.html.twig' %}
    {% block body %}
        {% include 'barraSuperior.html.twig' %}
        {% include 'barraLateral.html.twig' %}

        <div class="container">
            {% block contenido %}{% endblock %}
        </div>
    {% endblock %}