{% extends 'esquema.html.twig' %}

{% block title %}Edit Choferes{% endblock %}

{% block contenido %}
    <h1>Edit Choferes</h1>

    {{ include('choferes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('choferes_index') }}">back to list</a>

    {{ include('choferes/_delete_form.html.twig') }}
{% endblock %}
