{% extends 'esquema.html.twig' %}

{% block title %}New Choferes{% endblock %}

{% block contenido %}

    <h1>Nuevo Chofer</h1>

    {{ include('choferes/_form.html.twig') }}

    <a href="{{ path('choferes_index') }}">back to list</a>

{% endblock %}
