{% extends 'esquema.html.twig' %}

{% block title %}Edit Viajes{% endblock %}

{% block contenido %}
    <h1>Edit Viajes</h1>

    {{ include('viajes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('viajes_index') }}">back to list</a>

    {{ include('viajes/_delete_form.html.twig') }}
{% endblock %}
